.navbar {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar nav {
    display: flex;
    align-items: center;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: space-around;
}

.navbar nav ul li {
    text-align: center;
}

.navbar nav ul li a {
    color: black;
}

.navbar_cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
}

.navbar .navbar_cart span {
    background: gainsboro;
    border-radius: 50%;
    font-size: 13px;
    margin-left: -8px;
    transform: translatey(7px);
    color: #009999;
    display: inline-flex;
    width: 27px;
    height: 27px;
    align-items: center;
    justify-content: center;
}

@media (max-width:500px) {
    .navbar nav {
        border: 1px solid blue;
        display: none;
    }
}